body{
    font-family: 'Bitter', serif;
    text-align: center;
    background-size: cover;
    background: url(images/lg_bg.jpg) center center fixed;
}
nav{
    position: absolute;
    top: 0;
    width: 100%;
}
#home{
    margin-top: 140px;
    color: #333233;
    font-weight: bolder;
    margin-bottom: 40px;
}

.container{
    margin: 200px auto 10px auto;
    border: 2px solid black;
    position: absolute;
    background: rgb(43, 48, 53);
    color: white;
}
.footer{
    background: rgba(43, 48, 53, 0.1);
    color: ghostwhite;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    max-height: 60px;
    line-height: 10px;
}

@media screen and (max-width: 567px){
    #home{
        margin-top: 60px;
        padding: 20px;
    }
    #details{
        margin: 60px 5px 10px 20px;
    }
    #globe_image{
        margin-left: 1px;
    }
    #book_now{
        margin-left: 100px;
    }
    #details_container img{
        margin-left: 60px;
        text-align: center;
    }
    
    
}